@font-face {
    font-family: "Cascadia Code PL";
    src: url("/fonts/CascadiaCodePL.woff2") format("woff2");
}

@font-face {
    font-family: "Cascadia Code PL";
    font-style: italic;
    src: url("/fonts/CascadiaCodePLItalic.woff2") format("woff2");
}

[data-theme='dark'] pre,
[data-theme='dark'] code,
[data-theme='dark'] kbd,
[data-theme='dark'] var,
[data-theme='dark'] tt,
[data-theme='dark'] text {
    font-weight: 350;
}
