/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1d9bf0;
  --ifm-color-primary-dark: #0f8ee3;
  --ifm-color-primary-darker: #0e86d6;
  --ifm-color-primary-darkest: #0c6eb1;
  --ifm-color-primary-light: #36a6f2;
  --ifm-color-primary-lighter: #43acf3;
  --ifm-color-primary-lightest: #69bcf5;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #1d9bf0;
  --ifm-color-primary-dark: #0f8ee3;
  --ifm-color-primary-darker: #0e86d6;
  --ifm-color-primary-darkest: #0c6eb1;
  --ifm-color-primary-light: #36a6f2;
  --ifm-color-primary-lighter: #43acf3;
  --ifm-color-primary-lightest: #69bcf5;
}

pre,
code,
kbd,
var,
tt,
text {
  font-family: 'JetBrains Mono', 'Iosevka', 'Cascadia Code PL', 'Fira Code', 'Hack', monospace;
}

[data-theme='light'] img[src$='#gh-dark-mode-only'],
[data-theme='dark'] img[src$='#gh-light-mode-only'],
[data-theme="light"] .dark-mode-only,
[data-theme="dark"] .light-mode-only {
  display: none;
}

.button--outline {
  &:focus {
    --ifm-button-background-color: var(--ifm-button-border-color);
  }

  &.button--primary:focus {
    --ifm-button-color: var(--ifm-font-color-base-inverse);
  }
}

.button__icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 0.5rem;
  position: relative;
  top: 3px;
  fill: var(--ifm-button-color);

  .button--secondary & {
    fill: var(--ifm-color-gray-900);

    [data-theme="dark"] & {
      fill: var(--ifm-font-color-base);
    }
  }

  .button--outline:hover &,
  .button--outline:active &,
  .button--outline:focus &,
  .button--outline.button--active & {
    [data-theme="dark"] & {
      fill: var(--ifm-font-color-base-inverse);
    }
  }
}
